/* General Styles */
body {
    margin: 0;
    background-color: #21273d;
    padding: 10px;
}

/* Nav Styles */
nav {
    background-color: #6a759b;
    border-style: double;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav p, nav a {
    font-size: 15pt;
    color: #21273d;
}

nav a {
    color: lightblue;
    text-decoration: none;
}

nav a:hover {
    color: white;
}

/* Footer Styles */
footer {
    background-color: #b9d4f1;
    display: flex;
    justify-content: center;
    font-size: 13pt;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-style: groove;
}

footer a {
    color: darkblue;
    text-decoration: none;
}

footer a:hover {
    font-weight: 700;
}

/* Splash Section */
.splash {
    background-color: #b9d4f1;
    border: 5px;
    border-style: dashed;
    border-color: #21273d;
    display: grid;
    place-items: center;
    padding: 10px;
}

.splash h1 {
    font-family: "Funnel Sans", serif;
    font-size: 21pt;
    color: #21273d;
}

.splash img {
    border: 3px black;
    border-radius: 10px;
    border-style: solid;
}

.splash p {
    font-family: "Funnel Sans", serif;
    font-weight: 500;
    color: #21273d;
}

/* Horizontal Rules */
hr {
    border: 5px;
    border-style: groove;
    border-color: #21273d;
}

/* Sections */
section {
    background-color: #21273d;
}

/* Section Headings */
section h2 {
    font-family: "Sarala", serif;
    color: #b9d4f1;
    text-align: center;
    font-size: 25pt;
}

/* Awards Styles */
.awards {
    display: grid;
    justify-content: center;
}

/* Education Styles */
.education {
    display: grid;
    justify-content: center;
}

/* Skills Styles */
.skills {
    display: grid;
    justify-content: center;
}

/* Experience Styles */
.experience {
    display: grid;
    justify-content: center;
}

/* Education Paragraph */
.education p {
    font-family: "Sarala", serif;
    color: #b9d4f1;
}

/* Paragraph Styles */
section p {
    font-size: 13pt;
}

/* link styles */
section a {
    color: aliceblue;
    text-decoration: none;
}

section a:hover {
    opacity: 50%;
}

/* Project Names */
section h3 {
    font-family: "Sarala", serif;
    color: #b9d4f1;
}

/* List Styles */
ul {    
list-style-type: disc;
   font-family: "Sarala", serif;
   color: #b9d4f1; 
}

dl {
    display: grid;
    grid-template-columns: 1fr;
    font-family: "Sarala", serif;
    color: #b9d4f1;
}

dl dt{
    font-weight: 550;
}
dl dd{
    font-style: italic;
}

/* Project Section */
.three-col {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin: 5%;
    gap: 30px;
}

.card {
    background-color: gray;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 20px;
    border-radius: 5%;
}

.card img {
    width: 100%;
    border-radius: 5%;
}

.card h3 {
    font-size: 17pt;
}

/* Contact Page Styles */
.one-col {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.one-col p, h1 {
    color: #eff2f5;
    font-family: "Funnel Sans", serif;
}

form {
    color: #b9d4f1;
    align-items: center;
    padding: 10px;
    font-family: "Funnel Sans", serif;
}

form input, form textarea {
    width: 300px;
    border-radius: 5px;
    margin: 10px;
    background-color: lightcyan;
}

form input:focus, form textarea:focus {
    border-color: black;
    background-color: lightgray;
}

form button {
    width: 100px;
    height: 40px;
    border-radius: 10%;
    font-weight: bold;
    background-color: lightgray;
    font-family: "Funnel Sans", serif;
}

form button:hover {
    background-color: gray;
    cursor: pointer;
}

